body {
   box-sizing: border-box;
   font-family: 'DM Sans', sans-serif;
}

a {
   text-decoration: none;
}


.container {
   max-width: 1200px;
   margin: 0 auto;
}

/* шапка*/
.wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 57px;
}

.header__contacts {
   display: flex;
   column-gap: 70px;
}

.header__contact {
   display: flex;
   margin-bottom: 35px;
}

.img__header {
   width: 31px;
   height: 31px;
   margin-right: 14px;
}

.header__link {
   display: inline-block;
   color: #fff;
   padding: 15px 31px;
   text-align: center;
   background: #0067FF;
   border-radius: 50px;
   transition: 0.5s ease 0s;
   transform: translate(0px, 0px);
}

.header__link:hover {
   transition: 0.5s ease 0s;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
   transform: translate(-3px, -3px);
}

.about__link:active {
   transform: translate(3px, 3px);
}

.menu__icon {
   padding-left: 60px;
}

.header__burger {
   display: none;
   position: relative;
   width: 40px;
   height: 40px;
   border: none;
   background-color: #fff;
   z-index: 2;

}

/*  */
.header__burger span {
   position: absolute;
   width: 30px;
   height: 3px;
   background-color: #000;
   left: 5px;
}

.header__burger span:nth-child(1) {
   transform: translateY(-10px);
}

.header__burger span:nth-child(3) {
   transform: translateY(10px);
}

.header.active .header__burger span:nth-child(1) {
   transform: translateY(0) rotate(45deg);
}

.header.active .header__burger span:nth-child(2) {
   opacity: 0;
}

.header.active .header__burger span:nth-child(3) {
   transform: translateY(0) rotate(-45deg);
}

.menu__arrow {
   cursor: pointer;

}

.navigation {
   display: flex;
   justify-content: space-between;
   padding-right: 30px;
}

.menu li {
   position: relative;
}

.menu>li:hover .sub__menu-list {
   display: block;
}

.sub__menu-list {
   display: none;
   position: absolute;
   left: 0;
   top: 15px;
   background-color: #fff;
   min-width: 60px;
}

.sub__menu-link {
   padding: 15px 20px;
   display: block;
   color: #000;
}

.menu {
   display: flex;
   column-gap: 50px;
   margin-bottom: 47px;
}

.menu__link-header {
   color: #444444;
}

/*Именной*/
.name__wrapper {
   display: flex;
   align-items: center;
   min-height: 730px;
}

.name__text {
   column-gap: 30px;
   padding-left: 81px;
   display: flex;
   flex-direction: column;
   width: 50%;
}

.name__title {
   margin-bottom: 30px;
   width: 100%;
   font-weight: 700;
   font-size: 50px;
   line-height: 1.2;
   color: #000000;
}

.name__sub-title {
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.3;
   color: #414154;
   width: 100%;
}

.name__link {
   display: inline-block;
   color: #000;
   padding: 20px 39px;
   background: #FFFFFF;
   border-radius: 50px;
   transition: 0.5s ease 0s;
}

.name__link:hover {
   transition: 0.5s ease 0s;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name {
   height: 728px;
   background: #8BD5DC;
   background-image: url(/img/name.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 40% 0;
   /* opacity: .5; */
   background: -moz-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

/*мед сервис*/
.med__title {
   font-weight: 400;
   font-size: 55px;
   line-height: 120%;
   color: #000000;
   margin-bottom: 10px;
}

.med__paragraph {
   font-weight: 700;
   font-size: 18px;
   line-height: 100%;
   color: #0067FF;
}

.med__sub-title {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.6;
   color: #444444;
}

.med__service {
   background: #F7F8FC;
}

.wrapper__med {
   padding-top: 150px;
   display: flex;
   padding-bottom: 150px;
}

.med__text {
   align-self: center;
   width: 45%;
}

.med__service-columns {
   display: flex;
   width: 50%;
}


.med__service-column-two {
   margin-top: 31px;
}

.med__cart-one {
   padding: 26px 49px;
   justify-content: space-between;
   margin-right: 24px;
   background: #fff;
   min-height: 284px;
   text-align: center;
   margin-bottom: 19px;
}

.med__cart-two {
   padding: 26px 49px;
   justify-content: space-between;
   margin-right: 24px;
   background: #fff;
   min-height: 284px;
   text-align: center;
}

.med__cart-four {
   padding: 26px 49px;
   justify-content: space-between;
   background: #fff;
   min-height: 284px;
   text-align: center;
}

.med__cart-three {
   padding: 26px 49px;
   justify-content: space-between;
   margin-bottom: 19px;
   min-height: 284px;
   text-align: center;
   color: #fff;
   background: #0067FF;
   text-decoration: none;
}

.med__links {
   text-align: center;
}

.link__med {
   text-decoration: none;
   color: #fff;
}

.med__link-one {
   margin-bottom: 40px;
   position: relative;
}

.med__link-four {
   margin-bottom: 40px;
   position: relative;
}

.med__link-two {
   margin-bottom: 40px;
   position: relative;
}

.med__link-three {
   position: relative;
   margin-bottom: 40px;
}

.med__images {
   margin-top: 39px;
   margin-bottom: 21px;
}

.cart__title-one {
   margin-bottom: 14px;
}

.cart__title-two {
   margin-bottom: 14px;
}

.cart__title-three {
   margin-bottom: 14px;
}

.cart__title-four {
   margin-bottom: 14px;
}

.cart__text-one {
   margin-bottom: 22px;
   font-size: 18px;
   line-height: 1.3;
}

.cart__text-two {
   margin-bottom: 22px;
   font-size: 18px;
   line-height: 1.3;
}

.cart__text-three {
   margin-bottom: 22px;
   font-size: 18px;
   line-height: 1.3;
}

.cart__text-four {
   margin-bottom: 22px;
   font-size: 18px;
   line-height: 1.3;
}

.link__med-one {
   color: #444;
   border-bottom: 1px solid #F3874A;
   position: relative;
}

.link__med-two {
   color: #444;
   border-bottom: 1px solid #0067FF;
   position: relative;
}

.link__med-three {
   position: relative;
   color: #fff;
}

.link__med-four {
   color: #444;
   border-bottom: 1px solid #F3874A;
   position: relative;
}

/*about*/
.wrapper__about {
   padding-top: 30px;
   margin-top: 150px;
   display: flex;
   padding: 20px;
   margin-bottom: 150px;
}

.about__images {
   width: 45%;
}

.about__text {
   width: 45%;
   padding: 0 30px;
}

.about__img {
   width: 100%;
}

.about__columns {
   width: 100%;
   display: flex;
   padding: 20px;
}



.about__cart-one {
   display: flex;

}

.about__cart-two {
   display: flex;
}

.about__cart-three {
   display: flex;
}

.about__cart-four {
   display: flex;
}

.about__icon {
   width: 40px;
   height: 40px;
   padding: 10px;
}

.about__column-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #444444;
   width: 100%;
   padding-bottom: 10px;
}

.about__column-title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 140%;
   color: #444444;
   padding-bottom: 10px;
   padding-left: 10px;
}

.about__title {
   font-weight: 700;
   font-size: 32px;
   line-height: 120%;
   color: #444444;
}

.about__paragraph {
   font-weight: 700;
   font-size: 18px;
   line-height: 100%;
   color: #0067FF;
}

.about__sub-title {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #444444;
}

.about__end-text {
   list-style: none;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
}

.about__end-text::before {
   content: "";
   position: absolute;
   background-image: url(./img/Vector.svg);
   background-repeat: no-repeat;
   width: 14px;
   height: 10px;
   top: 1px;
   left: 10px;
}

.about__link {
   display: inline-block;
   color: #fff;
   padding: 20px 39px;
   background: #0067FF;
   border-radius: 50px;
   transition: 0.5s ease 0s;
   transform: translate(0px, 0px);
}

.about__link:hover {
   transition: 0.5s ease 0s;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
   transform: translate(-3px, -3px);
}

.about__link:active {
   transform: translate(3px, 3px);
}

.about__end {
   margin-bottom: 34px;
}

/*works*/
.works__icons {
   padding: 10px 13px;
   width: 59px;
   height: 59px;
}

.wrapper__works {
   margin-top: 150px;
   display: flex;
   margin-bottom: 150px;
}

.works__column {
   padding: 20px;
   display: flex;
   align-items: center;
}

.works__text {
   width: 45%;
}

.works__title {
   font-weight: 700;
   font-size: 50px;
   line-height: 120%;
   color: #171717;
}

.works__sub-title {
   text-align: left;
   width: 90%;
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   color: #444444;
}

.works__img {
   width: 100%;
}

/*appo*/
.wrapper__appo {
   display: flex;
   margin-bottom: 150px;
}

.appo__images {
   width: 45%;
}

.appo__text {
   padding: 20px;
   align-self: center;
   width: 45%;
}

.appo__images {
   position: relative;
   width: 50%;
}

.appo__images::after {
   content: "";
   background-image: url(./img/appo-sub.png);
   background-repeat: no-repeat;
   margin: 0 auto;
   width: 100%;
   height: 148px;
   position: absolute;
   bottom: 5px;
   left: 10px;
}

.appo__imges {
   width: 100%;
}

.appo__paragraph {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #4C40F7;
}

.appo__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 55px;
   line-height: 1.2;
   color: #444444;
   margin-bottom: 20px;
}

.appo__sub-title {
   text-align: left;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   letter-spacing: 0.02em;
   color: #444444;
   margin-bottom: 38px;
}

.appo__link {
   display: inline-block;
   color: #F8FAFD;
   padding: 20px 39px;
   background: #4C40F7;
   border-radius: 50px;
   transition: 0.5s ease 0s;
   transform: translate(0px, 0px);
}

.appo__link:hover {
   transition: 0.5s ease 0s;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
   transform: translate(-3px, -3px);
}

.appo__link:active {
   transform: translate(3px, 3px);
}

/*team*/
.wrapper__team {
   padding: 0 20px;
   margin-bottom: 150px;
   text-align: center;
}

.team__column {
   display: flex;
   text-align: center;
   column-gap: 30px;
}

.team__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 46px;
   line-height: 122%;
   text-align: center;
   color: #444444;
   margin-bottom: 18px;
}

.team__sub-title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   text-align: center;
   letter-spacing: 0.01em;
   text-transform: capitalize;
   color: #444444;
   margin-bottom: 78px;
}

.team__photo {
   width: 100%;
   margin-bottom: 24px;
}

.team__cart-title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 125%;
   text-align: center;
   color: #313131;
   opacity: 0.9;
   margin-bottom: 8px;
}

.team__cart-text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   color: #4C40F7;
}

/*last*/
.wrapper__last {
   margin-bottom: 100px;
}

.last__columns {
   display: flex;
   justify-content: space-between;
}

.last__column {
   width: 30%;
}

.last__column-title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   color: #F3874A;
   margin-bottom: 11px;
}

.last__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   color: #A7A9AC;
}

.last__titles {
   text-align: center;
}

.last__column-sub {
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   color: #A7A9AC;
   margin-bottom: 33px;
}

.last__img {
   margin-bottom: 25px;
}

.last__paragraph {
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   color: #F3874A;
   margin-bottom: 37px;
}

.last__title {
   margin-bottom: 114px;
   font-weight: 700;
   font-size: 32px;
   line-height: 120%;
   text-transform: uppercase;
   color: #444444;
}

/*footer*/
.footer__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #FFFFFF;
}

.footer__sub-title {
   width: 70%;
   margin-bottom: 32px;
   font-weight: 400;
   font-size: 16px;
   line-height: 200%;
   color: rgba(255, 255, 255, 0.71);
}

.footer__title-list {
   margin-bottom: 24px;
}

.footer__list {
   margin-bottom: 27px;
}

.footer__list:hover {
   text-decoration: underline;
}

.footer__logo {
   display: flex;
   align-items: center;
   margin-bottom: 32px;
}

.footer__text {
   padding-top: 140px;
}

.footer__adres {
   padding-top: 140px;
}

.footer__link {
   color: #fff;
}

.footer__list {
   width: 100%;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #FFFFFF;
   text-decoration: none;
   list-style: none;
}

.footer__lists {
   width: 10%;
   padding-top: 140px;
}

.footer {
   background: #4C40F7;
   color: #fff;
}

.wrapper__footer {
   min-height: 520px;
   justify-content: space-between;
   display: flex;
}

.footer__adres-title {
   margin-bottom: 24px;
}

.footer__adres-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 180%;
   color: #FFFFFF;
}

@media (max-width:1150px) {
   .appo__images::after {
      width: 98%;
   }

   .name {
      background-position: 50% 0;
   }
}

@media (max-width:1100px) {
   .about__list {
      width: 100%;
   }

   .footer__adres {
      padding-top: 40px;
   }

   .footer__title-list {
      font-size: 30px;
      text-align: center;
   }

   .footer__lists {
      width: 100%;
      padding-top: 60px;
   }

   .footer__list {
      text-align: center;
      font-size: 25px;
      margin-bottom: 27px;

   }

   .footer__adres {
      margin-bottom: 30px;
   }

   .footer__logo {
      justify-content: center;
   }

   .footer__sub-title {
      width: 100%;
   }

   .wrapper__footer {
      align-items: center;
      text-align: center;
      flex-direction: column;
   }

   .footer__list {
      width: 100%;
   }

   .last__column {
      width: 100%;
   }

   .last__text {
      margin-bottom: 30px;
   }

   .last__columns {
      align-items: center;
      text-align: center;
      flex-direction: column;
   }

   .link__about {
      text-align: center;
   }

   .appo__images {
      width: 100%;
   }

   .appo__images::after {
      display: none;
   }

   .appo__text {
      text-align: center;
   }

   .appo__imges {
      text-align: center;
      width: 100%;
   }

   .wrapper__appo {
      margin-bottom: 50px;
      flex-direction: column;
      align-items: center;
   }
}


@media (max-width:940px) {
   .team__title {
      font-size: 30px;
   }

   .team__column {
      flex-direction: column;
   }

   .team__cart-one {
      padding-bottom: 10px;
   }

   .team__cart-two {
      padding-bottom: 10px;
   }

   .team__cart-three {
      padding-bottom: 10px;
   }

   .wrapper__works {
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
   }

   .works__column {
      justify-content: center;
      display: block;
   }

   .works__text {
      text-align: center;
      width: 100%;
   }

   .works__images {
      width: 100%;
      text-align: center;
   }

   .about__column {
      width: 50%;
   }

   .works__title {
      padding: 20px 0;
      width: 100%;
   }

   .works__sub-title {
      width: 100%;
   }

   .about__title {
      width: 100%;
   }

   .wrapper__about {
      margin-bottom: 30px;
      align-items: center;
      flex-direction: column;
   }

   .menu__icon {
      padding-left: 20px;
   }

   .header__contacts {
      column-gap: 40px;
   }

   .menu {
      column-gap: 35px;
   }
}

@media (max-width:850px) {
   .about__sub-title {
      margin-bottom: 20px;
   }

   .sub__menu-link {
      padding: 25px;
      font-size: 25px;
   }

   .name__wrapper {
      min-height: 530px;
   }

   .footer__text {
      padding-top: 40px;
   }

   .wrapper__last {
      margin-bottom: 30px;
   }

   .last__title {
      margin-bottom: 30px;
   }

   .wrapper__team {
      margin-bottom: 50px;
   }

   .menu>li:hover .sub__menu-list {
      display: block;
   }

   .sub__menu-list {
      position: absolute;
      top: 70%;
      left: 58%;
   }

   .header__burger {
      display: block;
   }

   .header__menu-icon {
      margin-left: 0;
      display: block;
   }

   .appo__text {
      width: 100%;
   }

   .appo__title {
      font-size: 30px;
      line-height: 120%;
   }

   .wrapper__works {
      margin-top: 30px;
      flex-direction: column-reverse;
      margin-bottom: 30px;
   }

   .menu__icon {
      width: 100%;
   }

   .about__text {
      width: 100%;
   }

   .about__images {
      width: 100%;
      margin-bottom: 30px;
   }

   .about__icon {
      margin-bottom: 10px;
      width: 100%;
      padding: 0;
   }

   .about__cart-one {
      text-align: center;
      flex-direction: column;
   }

   .about__cart-two {
      text-align: center;
      flex-direction: column;
   }

   .about__cart-three {
      text-align: center;
      flex-direction: column;
   }

   .about__column-title {
      padding-left: 0;
      width: 100%;
   }

   .about__column-text {
      width: 100%;
   }

   .about__cart-four {
      width: 100%;
      flex-direction: column;
      text-align: center;
   }

   .about__end-text {
      align-items: center;
   }

   .about__end::before {
      left: 0;
   }


   .about__column {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .about__link {
      text-align: center;
      padding: 20px 20px;
   }

   .about__end {
      align-items: center;
      margin: 0 auto;
      width: 62%;
      margin-bottom: 40px;

   }

   .about__columns {
      flex-direction: column;
      align-items: center;
      padding: 0;
   }

   .about__cart-one {
      width: 100%;
   }

   .about__cart-two {
      width: 100%;
   }

   .about__cart-three {
      width: 100%;
   }

   .container {
      padding: 20px;
   }

   .menu__link-header {
      font-size: 21px;
      display: block;
      padding: 0px 0;
   }

   .header__menu-list {
      display: block;
      padding: 30px 20px 20px 20px;
   }

   .menu {
      text-align: center;
      display: block;
      width: 100%;
      position: absolute;
      left: -100%;
      top: 0;
      background-color: #fff;
      /* display: none; */
      transition: transform .5s;

   }

   .header.active .menu {
      transform: translateX(100%);
   }

   .header__contacts {
      width: 70%;
      align-items: center;
      flex-direction: column;
      margin-bottom: 40px;
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;

   }

   .logo {
      text-align: center;
      margin-bottom: 20px;
   }

   .header__contacts {
      width: 100%;
   }

   .menu__icon {
      text-align: center;
   }

   .name__title {
      padding: 5px;
      font-size: 35px;
      background-color: #ffffffb0;
   }

   .name__sub-title {
      padding: 5px;
      font-size: 18px;
      background-color: #ffffffb0;
   }

   .name__link {
      padding: 14px 31px;
   }

   .name {
      background-position: 70% 0;
   }

   .name__text {
      padding-top: 50px;
      padding-left: 30px;
   }

   .wrapper__med {
      flex-direction: column;
      align-items: center;
   }

   .med__service-column-one {
      width: 50%;
   }

   .med__service-column-two {
      margin-top: 0;
      width: 50%;
   }

   .med__service-columns {
      margin-top: 30px;
   }

   .med__service-columns {
      padding: 20px;
      width: 100%;
   }

   .med__text {
      width: 100%;
   }
}

@media (max-width:740px) {
   .works__column {
      flex-direction: column;
   }
}

@media (max-width:600px) {
   .med__service-columns {
      align-items: center;
      flex-direction: column;
   }

   .med__service-column-one {
      width: 100%;
   }

   .med__service-column-two {
      width: 100%;
   }

   .med__cart-one {
      padding: 0;
      width: 100%;
      margin-right: 0;
   }

   .med__cart-two {
      padding: 0;
      width: 100%;
      margin-right: 0;
   }

   .med__cart-three {
      padding: 0;
      width: 100%;
   }

   .med__cart-four {
      padding: 0;
      width: 100%;
   }
}